/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* constants/common */

:root {
    --darkest-blue: #293241;
    --dark-blue: #3D5B81;
    --light-blue: #98C0D9;
    --lightest-blue: #DFFBFC;
    --crimson-red: #EE6B4D;
}

.bg-darkest-blue {
    background-color: var(--darkest-blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-lightest-blue {
    background-color: var(--lightest-blue);
}

.bg-crimson-red {
    background-color: var(--crimson-red);
}

.text-darkest-blue {
    color: var(--darkest-blue);
}

.text-light-blue {
    color: var(--light-blue);
}

.text-lightest-blue {
    color: var(--lightest-blue);
}

.text-darkest-blue {
    color: var(--darkest-blue);
}

.text-crimson-red {
    color: var(--crimson-red);
}

/* general */


nav a {
    color: var(--light-blue)
}


a:hover, button:hover {
    color: white;
}


.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

.pleft-5 {
    padding-left: 5px;
}

body {
    background-color: var(--light-blue);
}